.image-hover-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
  overflow: hidden; 
}

.image-hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 0, 0, 0.2); 
  opacity: 0; 
  transition: opacity 0.2s ease-in-out, background 0.2s ease-in-out;
}

.image-hover-wrapper:hover .image-hover-overlay {
  opacity: 1; 
  background: linear-gradient(to right, rgba(255, 0, 0, 0.5), white);
}

.image-hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 20px; 
  opacity: 0; 
  transition: opacity 0.2s ease-in-out;
}

.image-hover-wrapper:hover .image-hover-text {
  opacity: 1; 
}


/* https://codepen.io/DuskoStamenic/pen/ZEvBKdw */
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap";

:root {
  --color: rgb(63 63 63);
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.parallax-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*  this is where the magic happens:  */
  background-attachment: fixed;

  background-image: url(https://s24.q4cdn.com/306296537/files/images/gallery/high_resolution/1a_OVERALL.jpg);
  background-position: center;
  background-size: cover;
  color: var(--color);
  row-gap: 4rem;

  text-align: center;
}

.buffer {
  width: 100%;
  min-height: 50vh;
  background-color: var(--color);
}

.parallax-container2 {
  flex-direction: row;
  flex-wrap: wrap;

  padding: 40rem 0 0 0;
  background-image: url(https://images2.alphacoders.com/712/712566.jpg);
  gap: 1.6em;
}

h3 {
  margin-top: 1em;
  font-size: 1.6rem;
  font-weight: 700;
}

.card {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  align-items: center;

  padding-bottom: 1rem;
  border-radius: 0.5em;

  background-color: white;
  box-shadow: 0 29px 38px -15px rgb(0 0 0 / 43%);
  
}

.card-img {
  width: 100%;
  height: 200px;
  border-radius: 0.3em;
  background-position: center;
  background-size: cover;
}

.card:nth-of-type(1) .card-img {
  background-image: url(https://images.unsplash.com/photo-1551632811-561732d1e306?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
}

.card:nth-of-type(2) .card-img {
  background-image: url(https://images.unsplash.com/photo-1522163182402-834f871fd851?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1606&q=80);
}

.card:nth-of-type(3) .card-img {
  background-image: url(https://images.unsplash.com/photo-1628746404106-4d3843b231b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2F2aW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=900&q=60);
}

.card:nth-of-type(4) .card-img {
  background-image: url(https://images.unsplash.com/photo-1496429862132-5ab36b6ae330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=900&q=80);
}
