name: Sync ./out to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm ci
      - name: Set Environment Variables
        run: echo "Environment variables set."
        env:
          # SET TO PRODUCTION
          NEXT_PUBLIC_ENVIRONMENT: ${{ secrets.NEXT_PUBLIC_ENVIRONMENT }}

          # API GATEWAY ENDPOINTS
          NEXT_PUBLIC_FETCH_DATA_ENDPOINT: ${{ secrets.NEXT_PUBLIC_FETCH_DATA_ENDPOINT }}

          NEXT_PUBLIC_FETCH_REVIEWS: ${{ secrets.NEXT_PUBLIC_FETCH_REVIEWS }}
          NEXT_PUBLIC_SUBMIT_REVIEW: ${{ secrets.NEXT_PUBLIC_SUBMIT_REVIEW }}

          NEXT_PUBLIC_FETCH_INSURANCE_CALCULATIONS: ${{ secrets.NEXT_PUBLIC_FETCH_INSURANCE_CALCULATIONS }}
          NEXT_PUBLIC_POST_ADMIN_CHANGES: ${{ secrets.NEXT_PUBLIC_POST_ADMIN_CHANGES }}

          # AWS Cognito
          NEXT_PUBLIC_CLIENT_SECRET: ${{ secrets.COGNITO_CLIENT_SECRET }}
      - name: Start development server
        run: npm run dev &
      - name: Run Cypress Tests
        run: npx cypress run --spec "cypress/e2e/*.cy.js"
      - name: Stop development server
        run: kill $(lsof -t -i:3000)
      - name: Produce out/ directory
        run: npm run build
      - name: Make the AWS config
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Push out/ to S3
        run: aws s3 sync out/ s3://${{ secrets.BUCKET_ID }}
